<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.activiti.manage.mapper2.AccessMapper">
  <resultMap id="BaseResultMap" type="com.voucher.manage.model.Access">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="open_id" jdbcType="VARCHAR" property="openId" />
    <result column="campus_id" jdbcType="INTEGER" property="campusId" />
    <result column="page" jdbcType="VARCHAR" property="page" />
    <result column="GUID" jdbcType="VARCHAR" property="guid" />
    <result column="access_time" jdbcType="TIMESTAMP" property="accessTime" />
    	<result column="subscribe" property="subScribe" jdbcType="SMALLINT" />
	    <result column="campus_id" property="campusId" jdbcType="INTEGER" />
	    <result column="groupid" property="groupId" jdbcType="VARCHAR" />
	    <result column="city" property="city" jdbcType="VARCHAR" />
	    <result column="country" property="country" jdbcType="VARCHAR" />
	    <result column="remark" property="remark" jdbcType="VARCHAR" />
	    <result column="total_amount" property="totalAmount" jdbcType="REAL" />
	    <result column="province" property="province" jdbcType="VARCHAR" />
		<result column="language" property="language" jdbcType="VARCHAR" />
		<result column="nickname" property="nickname" jdbcType="VARCHAR" />
		<result column="headimg_url" property="headImgUrl" jdbcType="VARCHAR" />
		<result column="subscribe_time" property="subscribeTime" jdbcType="TIMESTAMP" />
		<result column="sex" property="sex" jdbcType="SMALLINT" />
		<result column="total_amount" property="totalAmount" jdbcType="REAL" />
		<result column="name" property="name" jdbcType="VARCHAR" />
	    <result column="phone" property="phone" jdbcType="VARCHAR" />
		<result column="address" property="address"
			jdbcType="VARCHAR" />	
		<result column="rank" property="rank" jdbcType="VARCHAR" />	
		<result column="place" property="place" jdbcType="INTEGER" />
		<result column="headship" property="headship" jdbcType="VARCHAR" />	
		<result column="email" property="email" jdbcType="VARCHAR" />
		<result column="up_time" property="upTime" jdbcType="TIMESTAMP" />
		<result column="charter" property="Charter" jdbcType="VARCHAR" />
		<result column="IDNo" property="IDNo" jdbcType="VARCHAR" />
		<result column="hire_phone" jdbcType="VARCHAR" property="hirePhone" />
  </resultMap>
  <sql id="Base_Column_List">
    access.id, access.open_id, access.campus_id, page,access_time,
    subscribe,nickname, headimg_url,
	language,province,groupid,country,
	city,sex,remark,
	subscribe_time,
	usersinfo.name,users.place,	
	usersinfo.headship,usersinfo.email,	
	address ,phone,
	user_asset.charter, user_asset.IDNo,user_asset.hire_phone
  </sql>
  
   <select id="selectAllAccess" resultMap="BaseResultMap" useCache="false">
    select 
    <include refid="Base_Column_List" />
    from access 
	left join
	users on access.open_id = users.open_id
	left join usersinfo
	on
	access.open_id = usersinfo.open_id
	left join user_asset
	on
	access.open_id = user_asset.open_id
	<where>
    access.campus_id=#{campusId,jdbcType=INTEGER}
    <if test="search != null and search !='' ">
				and nickname like #{search,jdbcType=VARCHAR} or
				usersinfo.phone like
				#{search,jdbcType=VARCHAR}
			</if>
			<if test="page != null and page !='' ">
				and page=#{page,jdbcType=VARCHAR}
			</if>
			<if test="sort != null">
				order by ${sort}
			</if>
			<if test="sort != null and order != null">
				${order}
			</if>
			<if test="offset != null and limit != null">
				limit #{offset,jdbcType=INTEGER} ,
				#{limit,jdbcType=INTEGER}
			</if>	
	</where>
  </select>
  
  <select id="selectCountAccess" resultType="Integer" useCache="false" >
    select 
    count(*)
    from access 
	left join
	users on access.open_id = users.open_id
	left join usersinfo
	on
	access.open_id = usersinfo.open_id
	<where>
    access.campus_id=#{campusId,jdbcType=INTEGER}
    <if test="search != null and search !='' ">
				and (nickname like #{search,jdbcType=VARCHAR} or
				usersinfo.phone like
				#{search,jdbcType=VARCHAR})
		</if>
		<if test="page != null and page !='' ">
				and page=#{page,jdbcType=VARCHAR}
		</if>
	</where>
  </select>
  
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from access
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from access
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.voucher.manage.model.Access">
    insert into access
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="openId != null">
        open_id,
      </if>
      <if test="campusId != null">
        campus_id,
      </if>
      <if test="page != null">
        page,
      </if>
      <if test="guid != null">
        GUID,
      </if>
      <if test="accessTime != null">
        access_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="openId != null">
        #{openId,jdbcType=VARCHAR},
      </if>
      <if test="campusId != null">
        #{campusId,jdbcType=INTEGER},
      </if>
      <if test="page != null">
        #{page,jdbcType=VARCHAR},
      </if>
      <if test="guid != null">
        #{guid,jdbcType=VARCHAR},
      </if>
      <if test="accessTime != null">
        #{accessTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <insert id="insertSelective" parameterType="com.voucher.manage.model.Access">
    insert into access
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="openId != null">
        open_id,
      </if>
      <if test="campusId != null">
        campus_id,
      </if>
      <if test="page != null">
        page,
      </if>
      <if test="guid != null">
        GUID,
      </if>
      <if test="accessTime != null">
        access_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="openId != null">
        #{openId,jdbcType=VARCHAR},
      </if>
      <if test="campusId != null">
        #{campusId,jdbcType=INTEGER},
      </if>
      <if test="page != null">
        #{page,jdbcType=VARCHAR},
      </if>
      <if test="guid != null">
        #{guid,jdbcType=VARCHAR},
      </if>
      <if test="accessTime != null">
        #{accessTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.voucher.manage.model.Access">
    update access
    <set>
      <if test="openId != null">
        open_id = #{openId,jdbcType=VARCHAR},
      </if>
      <if test="campusId != null">
        campus_id = #{campusId,jdbcType=INTEGER},
      </if>
      <if test="page != null">
        page = #{page,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.voucher.manage.model.Access">
    update access
    set open_id = #{openId,jdbcType=VARCHAR},
      campus_id = #{campusId,jdbcType=INTEGER},
      page = #{page,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>