<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.activiti.manage.mapper2.User_AssetMapper">
  <resultMap id="BaseResultMap" type="com.voucher.manage.model.User_Asset">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="open_id" jdbcType="VARCHAR" property="openId" />
    <result column="charter" jdbcType="VARCHAR" property="charter" />
    <result column="IDNo" jdbcType="VARCHAR" property="idno" />
    <result column="hire_phone" jdbcType="VARCHAR" property="hirePhone" />
  </resultMap>
  
  <sql id="Base_Column_List">
    id, open_id, charter, IDNo, hire_phone
  </sql>
  
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from user_asset
    where open_id = #{openId,jdbcType=VARCHAR}
  </select>
  
  <select id="getCountUser_AssetByOpenId" parameterType="java.lang.String" resultType="Integer">
    select  count(*)
    from user_asset
    where open_id = #{openId,jdbcType=VARCHAR}
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from user_asset
    where open_id = #{openId,jdbcType=VARCHAR}
  </delete>
  
  <insert id="insert" parameterType="com.voucher.manage.model.User_Asset">
    insert into user_asset (open_id, charter, 
      IDNo, hire_phone)
    values (#{openId,jdbcType=VARCHAR}, #{charter,jdbcType=VARCHAR}, 
      #{idno,jdbcType=VARCHAR}, #{hirePhone,jdbcType=VARCHAR})
  </insert>
  
  <insert id="insertSelective" parameterType="com.voucher.manage.model.User_Asset">
    insert into user_asset
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="openId != null">
        open_id,
      </if>
      <if test="charter != null">
        charter,
      </if>
      <if test="idno != null">
        IDNo,
      </if>
      <if test="hirePhone != null">
        hire_phone,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="openId != null">
        #{openId,jdbcType=VARCHAR},
      </if>
      <if test="charter != null">
        #{charter,jdbcType=VARCHAR},
      </if>
      <if test="idno != null">
        #{idno,jdbcType=VARCHAR},
      </if>
      <if test="hirePhone != null">
        #{hirePhone,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  
  <update id="updateByPrimaryKeySelective" parameterType="com.voucher.manage.model.User_Asset">
    update user_asset
    <set>
      <if test="charter != null">
        charter = #{charter,jdbcType=VARCHAR},
      </if>
      <if test="idno != null">
        IDNo = #{idno,jdbcType=VARCHAR},
      </if>
      <if test="hirePhone != null">
        hire_phone = #{hirePhone,jdbcType=VARCHAR},
      </if>
    </set>
    where open_id = #{openId,jdbcType=VARCHAR}
  </update>
  
  <update id="updateByPrimaryKey" parameterType="com.voucher.manage.model.User_Asset">
     update user_asset
    set
       charter = #{charter,jdbcType=VARCHAR},
      IDNo = #{idno,jdbcType=VARCHAR},
      hire_phone = #{hirePhone,jdbcType=VARCHAR}
    where open_id = #{openId,jdbcType=VARCHAR}
  </update>

</mapper>